extends ../layouts/master.jade

append titlePage
  title bike code detail

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  .sidebar-left
    include ../includes/page-sidebar-left.jade
  include ../includes/header.jade
  
  ="\n"
  .page-container
    //- include ../includes/page-sidebar.jade

    ="\n"
    .page-content-wrapper
      .page-content
        .container
          .main-body-content.member-page
            .page-bar
              ul.page-breadcrumb
                li
                  a(href="home.html").home 
                    i.fa.fa-home
                    span Home Page
                li.menu-lever1
                  a()
                li.menu-lever2
                  a()
            ="\n"
            form.form_sample_3
              .member-title-table
                .title-page.full.border-bottom.mrb-30
                  h3.bold.pull-left 자전거 NFC/QR코드 상세
                .full.border-full.pad-20-30.mrb-40
                  .full.mrb-10
                    .col-md-2.text-right.line-30 번호 :
                    .col-md-10.line-30 2
                      
                  .full.mrb-10
                    .col-md-2.text-right.line-30 고유번호 :
                    .col-md-10.line-30
                      .row
                        .col-md-4
                          input.form-control(type="text" value ='1000')
                        button.btn.green 중복확인
                        span.red.mrl-10 이미 등록된 고유번호입니다.

                  .full.mrb-10
                    .col-md-2.text-right.line-30 아이디 :
                    .col-md-10.line-30 abcd1234

                  .full.mrb-10
                    .col-md-2.text-right.line-30 이름 :
                    .col-md-10.line-30 홍길동

                  .full.mrb-10
                    .col-md-2.text-right.line-30 휴대폰 번호 :
                    .col-md-3.line-30
                      input.form-control(type="text" value ='01012345678')
                  
                  .full.mrb-10
                    .col-md-2.text-right.line-30 우편번호 :
                    .col-md-3.line-30
                        input.form-control(type="text" value ='0101')

                  .full.mrb-10
                    .col-md-2.text-right.line-30 주소 :
                    .col-md-5.line-30
                        input.form-control(type="text" value ='서울시 마포구 성암로 119 AA아파트 102호')

                  .full.mrb-10
                    .col-md-2.text-right.line-30 신청날짜 :
                    .col-md-10.line-30 2017-05-22

                  .full.mrb-10
                    .col-md-2.text-right.line-30 발송상태 :
                    .col-md-2
                      select.form-control.selectpickermember.text-left(name='selecttext',title="선택...")
                        option(data-hidden="true")
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4

                  .full.mrb-10
                    .col-md-2.text-right.line-30 승인상태 :
                    .col-md-2
                      select.form-control.selectpickermember.text-left(name='selecttext',title="선택...")
                        option(data-hidden="true")
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4

                  .full.mrb-40
                    .col-md-2.text-right.line-30 등록 이미지 :
                    .col-md-4
                      img(src="../../assets/images/demo_single_2.jpg", alt='thumbnail')

                  
                  .full.text-center
                    button.btn.red.pad-8-50 목록
                    a.btn.green.pad-8-50.bus-button-confirm 수정

            
            // .block-1
          // .member-main
      // .page-content
    // .member
  //.page-container
  
  ="\n"
  include ../includes/footer.jade
  
  ="\n"
  include ../includes/popupConfirmDelete.jade
