extends ../layouts/master.jade

append titlePage
  title library education

append body
  +body(class="page-header-fixed page-quick-sidebar-over-content")

append body-contents
  //- .sidebar-left
  //-   include ../includes/page-sidebar-left.jade
  include ../includes/header.jade
  
  ="\n"
  .page-container
    //- include ../includes/page-sidebar.jade

    ="\n"
    .page-content-wrapper
      .page-content
        .container
          .main-body-content.member-page
            ="\n"
            form.form_sample_3
            .member-title-table
              .title-page
                h4.bold Library관리-교육자료
              .md-ct.row
                .col-md-5.pdt-10
                  span.title 글 수: 
                  span 400개
                .col-md-1.pull-right
                  a.btn.green.pull-right.full(href="#") 등록
                .col-md-3.pull-right.search-icon
                  input.form-control(type='text', name='name', data-required='1')
                  button.search
                    i.fa.fa-search(aria-hidden='true')
                .col-md-2.pull-right
                  select.form-control.selectpickermember.text-left(name='selecttext',title="선택...")
                    option(data-hidden="true")
                    option(value='1') 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4

            .table-member-mng.table-responsive
              table.table.table-striped.table-bordered.table-hover.text-center
                thead
                  tr
                    th 번호
                    th 제목
                    th 작성일
                    th 조회수
                    th 수정
                tbody
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  tr
                    td 10
                    td A1
                    td KAS
                    td 2017.04.04
                    td 
                      a.btn.green(href="#") 수정
                  
                  
                    
            //.table-member-mng

            ="\n"
            include ../includes/rw-pagination.jade
            // .block-1
          // .member-main
      // .page-content
    // .member
  //.page-container
  
  ="\n"
  include ../includes/footer.jade
  
  ="\n"
  include ../includes/popupConfirmDelete.jade
